{% if items %}
<div class="message-box">
<h3>Found {{ items|length }} profiles of searched term {{message}}</h3>
<br>
{% for p in items %}
<h2 class="display-4 font-weight-bold">{{p.name}}</h2>
<div class="buttons-con">
  <div class="action-link-wrap">
    <a onclick="history.back(-1)" class="link-button link-back-button">Go Back</a>
    <a href="{% url 'details' %}" class="link-button">View Category</a>
  </div>
</div>
{% endfor %}
{% else %}
<h2>Found 0 Profiles for the search term {{message}}</h2>
{% endif %}
