
<head>
  <link rel="stylesheet" href="/static/css/bulma.min.css">
</head>

<div class="box">
</div>


<section class="hero">
    <div class="hero-body">
      
      <div class="card-content">
        <article class="media">
       
            <figure class="media-left">
                <p class="image is-64x64">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
        
          <div class="media-content">
            <div class="content">
                
              <p>
                
              </p>
              
            </div>
      </p>



  <article class="media">

    <div class="media-content">
      <div class="content">
        {% for c in comment %}
                <br>
               <div> {{c.text}}</div>
                
                {% endfor %}
        </p>
  
       
      </div>
  
    </div>
  </article>
  
<div class="field">
        <p class="control">
          <button class="button"><a href="{% url 'comments' %}">Post comment</a></button>
        </p>
      </div>
    </div>
  </article>
</div>
</section>